  .inputForum {
    text-align: center;
    border: rgb(250, 152, 39) solid 2px;
    border-radius: 4px;
    margin: 10px;
    margin-top: 130px;
    width: 20vw;
    padding: 20px;
    background-color: rgb(255, 245, 225);
    min-width: 80%;
    font-size: smaller;
  }

  .inputF{
      padding: 10px;
      color: rgb(221, 107, 0);
  }

  button{
      background-color: transparent;
      border: 1px solid rgb(250, 152, 39);
      border-radius: 5px;
      margin-left: 10px;
      color: rgb(221, 107, 0);
      font-size: 10px;
      width: 60px;
      height: 20px;
  }

  button:hover{
      cursor: pointer;
      background-color: rgba(250, 152, 39, 0.8);
      color: white;
  }

  .addRecipeBtn{
      width: 10rem;
  }