.deleteMe{
    cursor: pointer;
    font-weight: bold;
} 

.deleteMe:hover{
  font-weight: bold;
  color: rgb(255, 94, 0);
  transform: scale(1.7);
}
  
  
  .inputForum {
    text-align: left;
    
    width: 50%;
    padding: 20px;
     
      align-self: center;
    /* font-size: smaller; */
  }

  .forFlexing{
      display: flex;
  }

  .Preview{
    background-color: white;      
    border-radius: 4px;   
    width:45%;
    display: flex;
    flex-direction: column;
    margin: 30px 0;

  }

 .Preview p, .Preview li {
     text-align: left !important; 
     margin-left: 30px;
     color: #333;
    
    }
    h5{
        color: lightslategrey
    }

  #form{
    width: 100%;
    margin: 0 auto;
    align-self: left;
    border: rgb(250, 152, 39) solid 2px;
    border-radius: 4px;
    margin: 10px;
    margin-top: 130px;
    background-color: rgb(255, 245, 225);
  
  }

  input[type="text"], textarea{
      padding: 10px 30px;
      border-radius: 5px;
      outline: none;
      border: none;
      width: 80%;
  }

  label{
      display:block;
      text-align: left;
      margin-left: 20px;
  }

  .inputF{
      padding:  10px 30px;
      color: rgb(221, 107, 0);
  }

  button{
      background-color: transparent;
      border: 1px solid rgb(250, 152, 39);
      border-radius: 5px;
      margin-left: 10px;
      color: rgb(221, 107, 0);
      /* font-size: 10px; */
      width: 60px;
      height: auto;
  }

  button:hover{
      cursor: pointer;
      background-color: rgba(250, 152, 39, 0.8);
      color: white;
  }

  .addRecipeBtn{
      width: 10rem;
  }

  #sBigger{
      font-size: 2.1rem;

  }

 