nav {
    /* width : 456px; */

    width : 50%;
    margin: auto;
    position : relative;
    height: 76px;
    padding-top: auto 0 ;
    background: rgb(226, 121, 0);
    display: flex;
    flex-wrap: nowrap;
  }


  
  menu:after , menu:before {
    top       : 0;
    width     : 60px;
    height    : 76px;
    background: rgb(226, 121, 0);
    display : block;
    content : "";
    position: absolute;

  } 

  .navcolor{
      color: rgb(226, 121, 0);
  }
  
  menu:after {
    clear : both;
    right : -25px;
    border-right : 1px solid rgb(226, 121, 0);
  }
  
  menu:before {
    left  : -55px;
    border-left : 1px solid #857e74;
  }
  
  .ribbon {
    position : absolute;
    top      : 76px;
    border-style : solid ;
    border-width : 13px;
  }
  
  .ribbon.left {
    left     : -55px;
    border-color : rgb(104, 56, 1) rgb(104, 56, 1) transparent transparent;
  }
  
  .ribbon.right {
    left         : calc(100%);
    border-color : rgb(104, 56, 1) transparent transparent rgb(104, 56, 1);	
  }
  
  .left:after , .left:before {
    display : block;
    content : "";
    position: absolute;
    left     : -68px;
    border-style : solid;
    /* z-index : -2; */
  }
  
  .left:after {
    top      : -68px;
    border-width : 58px 0 0 56px;
    border-color : rgb(194, 103, 0) transparent transparent transparent;
  }
  
  .left:before {
    top      : -26px;
    border-width : 0 40px 38px 41px;
    border-color : transparent transparent rgb(194, 103, 0) transparent;			
  }
  
  .right:after , .right:before {
    display : block;
    content : "";
    position: absolute;
    right    : -65px;
    border-style : solid;
    /* z-index : -2; */
  }
  
  .right:before {
    top      : -25px;
    border-width : 0 40px 38px 38px;
    border-color : transparent transparent rgb(194, 103, 0) transparent;			
  }
  
  .right:after {
    top      : -65px;
    border-width : 58px 56px 0 0;
    border-color : rgb(194, 103, 0) transparent transparent transparent;
  }
  
 menu li {
    display: inline;
    margin-top: 10px;
    cursor      : pointer;
    
    list-style-type    : none;
    
  }
  

  
 .noned {margin: 10px auto;
  padding-inline-start: 0px;}

  a {
    color: unset;
    text-decoration: none;
  }

  

  
 

  menu li{
    font-family:  'Oswald', sans-serif;
    font-size: 1.8em;
    margin: 0px 15px;
    color: #FFCD10;
    text-align: center;
  text-shadow: 2px 2px 0px #000;
  display: inline-block;


}
  
   menu li:hover {
  
   
    transform: scale(1.1);
  }

  .mobile{
    display: none;
    margin: 0 auto;
}

  @media only screen and (max-width: 980px ) {
      menu, .ribbon {
        display: none;
      }

      nav {
          background-color: rgba(255, 255, 255, 0);
          display: flex;
          justify-content: center;

      }

      .mobile{
          display: block;
          margin: 0 auto;
      }
  }

  